@model ArtGallery.Models.Structs.Dto.ArtistDto
@{
    ViewData["Title"] = Model.Name;
    Layout = "_Layout";
}

<html lang="ru">
<head>
    <link rel="stylesheet" href="~/css/normalize.css"/>
    <link rel="stylesheet" href="~/css/Artist.css"/>
</head>
<body>
<div class="artist-page__container">
    <div class="artist-page__head">
        <div class="artist-page__avatar">
            <img src="@Model.IconPath" alt="@Model.Name"/>
        </div>
        <div class="artist-page__main">
            <div class="artist-page__title"><h5>@Model.Name</h5></div>
            <div class="artist-page__country">@Model.Country</div>
            <div>@Model.Description</div>
        </div>
    </div>
</div>
</body>
</html>
